<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.husseinfahmy.moneywise">

    <dependency>
        <groupId>
            com.yelp.clientlib
        </groupId>

        <artifactId>
            yelp-android
        </artifactId>

        <version>
            2.0.0
        </version>
    </dependency>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecommendationsActivity"></activity>
    </application>

</manifest>